*{
  font-family: Inconsolata;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(to bottom, #B8CBD0,#EEE6D8 );
}

html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 380px) and (max-width:780px) {
  body{
    display: flex;
    flex-direction: column;
  }
  
}

favicon.ico{
  width: 200px;
}